entrez/dtd/NCBI_RNA.mod.dtd

<!-- ============================================
     ::DATATOOL:: Generated from "seqfeat.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.1
     ::DATATOOL:: on 01/18/2007 23:07:18
     ============================================ -->

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-RNA"
================================================= -->

<!--
**********************************************************************

  NCBI RNAs
  by James Ostell, 1990
  version 0.8

**********************************************************************
-->

<!-- Elements used by other modules:
          RNA-ref,
          Trna-ext -->

<!-- Elements referenced from other modules:
          Seq-loc FROM NCBI-Seqloc -->
<!-- ============================================ -->

<!--
*** rnas ***********************************************
*
*  various rnas
*
 minimal RNA sequence
 for tRNAs
-->
<!ELEMENT RNA-ref (
        RNA-ref_type, 
        RNA-ref_pseudo?, 
        RNA-ref_ext?)>
<!-- type of RNA feature -->
<!ELEMENT RNA-ref_type %ENUM;>
<!ATTLIST RNA-ref_type value (
        unknown |
        premsg |
        mRNA |
        tRNA |
        rRNA |
        snRNA |
        scRNA |
        snoRNA |
        other
        ) #REQUIRED >


<!ELEMENT RNA-ref_pseudo EMPTY>
<!ATTLIST RNA-ref_pseudo value ( true | false ) #REQUIRED >


<!ELEMENT RNA-ref_ext (
        RNA-ref_ext_name | 
        RNA-ref_ext_tRNA)>

<!ELEMENT RNA-ref_ext_name (#PCDATA)> <!-- for naming "other" type -->
<!-- tRNA feature extensions -->
<!ELEMENT RNA-ref_ext_tRNA (Trna-ext)>

<!-- tRNA feature extensions -->
<!ELEMENT Trna-ext (
        Trna-ext_aa?, 
        Trna-ext_codon?, 
        Trna-ext_anticodon?)>
<!-- aa this carries -->
<!ELEMENT Trna-ext_aa (
        Trna-ext_aa_iupacaa | 
        Trna-ext_aa_ncbieaa | 
        Trna-ext_aa_ncbi8aa | 
        Trna-ext_aa_ncbistdaa)>

<!ELEMENT Trna-ext_aa_iupacaa (%INTEGER;)>

<!ELEMENT Trna-ext_aa_ncbieaa (%INTEGER;)>

<!ELEMENT Trna-ext_aa_ncbi8aa (%INTEGER;)>

<!ELEMENT Trna-ext_aa_ncbistdaa (%INTEGER;)>

<!ELEMENT Trna-ext_codon (Trna-ext_codon_E*)> <!-- codon(s) as in Genetic-code -->


<!ELEMENT Trna-ext_codon_E (%INTEGER;)>

<!ELEMENT Trna-ext_anticodon (Seq-loc)> <!-- location of anticodon -->

