entrez/dtd/PDB_General.mod.dtd

<!-- ============================================
     ::DATATOOL:: Generated from "seqblock.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.1
     ::DATATOOL:: on 01/18/2007 23:07:18
     ============================================ -->

<!-- ============================================ -->
<!-- This section is mapped from module "PDB-General"
================================================= -->

<!--
*********************************************************************

  PDB specific data
  This block of specifications was developed by Jim Ostell and
      Steve Bryant of NCBI

*********************************************************************
-->

<!-- Elements used by other modules:
          PDB-block -->

<!-- Elements referenced from other modules:
          Date FROM NCBI-General -->
<!-- ============================================ -->

<!-- PDB specific descriptions -->
<!ELEMENT PDB-block (
        PDB-block_deposition, 
        PDB-block_class, 
        PDB-block_compound, 
        PDB-block_source, 
        PDB-block_exp-method?, 
        PDB-block_replace?)>

<!ELEMENT PDB-block_deposition (Date)> <!-- deposition date  month,year -->

<!ELEMENT PDB-block_class (#PCDATA)>

<!ELEMENT PDB-block_compound (PDB-block_compound_E*)>


<!ELEMENT PDB-block_compound_E (#PCDATA)>

<!ELEMENT PDB-block_source (PDB-block_source_E*)>


<!ELEMENT PDB-block_source_E (#PCDATA)>

<!ELEMENT PDB-block_exp-method (#PCDATA)> <!-- present if NOT X-ray diffraction -->

<!ELEMENT PDB-block_replace (PDB-replace)> <!-- replacement history -->


<!ELEMENT PDB-replace (
        PDB-replace_date, 
        PDB-replace_ids)>

<!ELEMENT PDB-replace_date (Date)>

<!ELEMENT PDB-replace_ids (PDB-replace_ids_E*)> <!-- entry ids replace by this one -->


<!ELEMENT PDB-replace_ids_E (#PCDATA)>

